version: "3.3"

networks:
  traefik:

volumes:
  jenkins-docker-certs:

services:
  traefik:
    image: traefik
    container_name: traefik
    restart: unless-stopped
    command:
      # - '--log.level=debug'
      - '--api.insecure=false'
      - '--pilot.dashboard=false'
      - "--providers.docker=true"
      - "--providers.docker.network=traefik"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=web-secure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.web-secure.address=:443"
      - "--entrypoints.web-secure.http3=true"
      - "--experimental.http3=true"
      - "--certificatesresolvers.default.acme.tlschallenge=true"
      - "--certificatesresolvers.default.acme.email={{ domain_email }}"
      - "--certificatesresolvers.default.acme.storage=/letsencrypt/acme.json"
      # - "--certificatesresolvers.default.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - /letsencrypt:/letsencrypt:rw
    networks:
      - traefik
  gitlab:
    image: gitlab/gitlab-ee
    container_name: gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://git.{{ domain }}'
        nginx['listen_https'] = false
        nginx['listen_port'] = 80
        nginx['redirect_http_to_https'] = false
        letsencrypt['enable'] = false
    restart: unless-stopped
    volumes:
      - /gitlab/config:/etc/gitlab
      - /gitlab/log:/var/log/gitlab
      - /gitlab/data:/var/opt/gitlab
    ports:
      - "22:22"
    shm_size: "256M"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`git.{{ domain }}`)"
      - "traefik.http.routers.gitlab.entrypoints=web-secure"
      - "traefik.http.routers.gitlab.tls.certresolver=default"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
      - "traefik.http.middlewares.gitlab_compress.compress=true"
      - "traefik.http.routers.gitlab.middlewares=gitlab_compress"
    networks:
      - traefik     

  mattermost:
    image: mattermost/mattermost-team-edition
    container_name: mattermost
    restart: unless-stopped
    extra_hosts:
      - "postgres:host-gateway"
    tmpfs:
      - /tmp
    volumes:
      - /mattermost/config:/mattermost/config:rw
      - /mattermost/data:/mattermost/data:rw
      - /mattermost/logs:/mattermost/logs:rw
      - /mattermost/plugins:/mattermost/plugins:rw
      - /mattermost/client-plugins:/mattermost/client/plugins:rw
      - /mattermost/bleve-indexes:/mattermost/bleve-indexes:rw
    environment:
      - TZ=Europe/Rome
      - MM_SQLSETTINGS_DRIVERNAME=postgres
      - MM_SQLSETTINGS_DATASOURCE=postgres://mmuser:{{ mattermost_password.content }}@postgres:5432/mattermost?sslmode=disable
      - MM_BLEVESETTINGS_INDEXDIR=/mattermost/bleve-indexes
      - MM_SERVICESETTINGS_SITEURL=https://chat.{{ domain }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mattermost.rule=Host(`chat.{{ domain }}`)"
      - "traefik.http.routers.mattermost.entrypoints=web-secure"
      - "traefik.http.routers.mattermost.tls.certresolver=default"
      - "traefik.http.services.mattermost.loadbalancer.server.port=8065"
      - "traefik.http.middlewares.mattermost_compress.compress=true"
      - "traefik.http.routers.mattermost.middlewares=mattermost_compress"
    networks:
      - traefik

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    extra_hosts:
      - "postgres:host-gateway"
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/sonarqube?sslmode=disable
      SONAR_JDBC_USERNAME: squser
      SONAR_JDBC_PASSWORD: {{ sonarqube_password.content }}
    volumes:
      - /sonarqube/data:/opt/sonarqube/data
      - /sonarqube/extensions:/opt/sonarqube/extensions
      - /sonarqube/logs:/opt/sonarqube/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarqube.rule=Host(`qube.{{ domain }}`)"
      - "traefik.http.routers.sonarqube.entrypoints=web-secure"
      - "traefik.http.routers.sonarqube.tls.certresolver=default"
      - "traefik.http.services.sonarqube.loadbalancer.server.port=9000"
      - "traefik.http.middlewares.sonarqube_compress.compress=true"
      - "traefik.http.routers.sonarqube.middlewares=sonarqube_compress"
    networks:
      - traefik


  dind:
    image: docker:20-dind
    container_name: dind
    restart: unless-stopped
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    volumes:
      - /jenkins:/var/jenkins_home
      - jenkins-docker-certs:/certs/client
    command:
      - --storage-driver=overlay2

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    volumes:
      - /jenkins:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins.rule=Host(`ci.{{ domain }}`)"
      - "traefik.http.routers.jenkins.entrypoints=web-secure"
      - "traefik.http.routers.jenkins.tls.certresolver=default"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.jenkins_compress.compress=true"
      - "traefik.http.routers.jenkins.middlewares=jenkins_compress"
    networks:
      - traefik
