#!/bin/bash -x
cd /swe
docker-compose down
for dir in gitlab mattermost taiga sonarqube postgres swe # jenkins
do
	rm -rf /$dir/*
	rsync -avzhp --numeric-ids -e "ssh -p {{ backup_port }}" root@{{ backup_host }}:/backup/$dir /
done
su postgres -c "psql -f /postgres/db.out postgres"
docker-compose up -d
